@section title {
    @ViewBag.Title
}
@section info {
    Delves character sheet is a tool I made for building and printing characters sheets
    for the game,<a href="http://www.wargamedownloads.com/item.php?item=1065&pics=1">GoalSystem, Delves</a>. Hundredes of hours has gone into this site as
    well as costs for hosting. So if you like it please <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PFGJ25F5NVUVJ">donate</a>, I promsie to toast in
    your name if you do. Cheers, <em>Aaron Sprague</em>
}
@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
